body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*--------------Auth.js componenta-------------------*/
.contSign-in-up{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  
}

.contSign-in-up h2{
  text-align: center;
  margin-bottom: 30px;
}

.contSign-in-up button{
  width: 90px;
  height: 30px;
  border-radius: 0.3rem;
  border: 1px #703B09 solid;
  align-self: center;
  white-space: nowrap;
  
}

.contSign-in-up button:hover{
 background-color: #703B09;
 color: white;
 cursor: pointer;
  
}

.contSign-in-up button:focus{
  border: #703B09 1px solid;
  outline: none;
   
 }
 

.contSign-in-up form{
  width: 40%;
  margin: 8px 0;
}

.authInputsCont{
  display: flex;
  flex-direction: column;
}

.authInputsCont input{
   height: 1.7rem;
   margin: 0.5rem 0;
   box-shadow: none;
   border: 1px solid #ccc;
   /*VAŽNO: ovaj padding služi da smanjimo contex box pa samim time da pomaknemo tekst malo desno u desno na lijevu granicu gdje bi inače počeo*/
   padding: 0.6rem;
 
 }

.authInputsCont input:focus{
 outline: none;
 background-color: #ccc;
 border: 1px solid #ccc;
}

@media(max-width: 600px){
  .contSign-in-up{
    flex-direction: column;
    align-items: center;
    margin: 8px 0;
  }

}


@media(max-width: 600px){
  .contSign-in-up form{
    
    margin: 22px 0;
  }

}


/*----- Ovo je za NavLink, ovo je baš morabilo biti ovdje jer css module automski dodaju nešto voome active ako stavimo tamo----------------- */

.active{
  background-color: #8F5C2C;
  /* Odustao sam na kraju od ove ružne granice, overwirtana je pa ne bude aktivna, zato sam je ostavio */
  border-bottom: 4px solid #40A4C8;
  

 }   

 @media (max-width: 499px){
  .active {
     border-bottom: 1px solid transparent;
     background-color: white;
     color: #40A4C8 !important;
  }
 }

 /*----------------------------------*/

.backdrop{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  position:fixed;
  top: 0;
  left:0;
  z-index: 1; 
}

.displayNoneGeneralno{
 display: none;
}

/*----------------------------------------------------*/
.zaSpinnerContUAuth{
  margin-top: 180px;
}


 
